<div class="m-3">
  <mat-form-field appearance="fill">
    <mat-label>Month and Year</mat-label>
    <input [formControl]="date"
           [matDatepicker]="datepicker" [max]="maxDate" [min]="minDate" class="text-dark"
           matInput>
    <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #datepicker
                    (monthSelected)="chosenMonthHandler($event, datepicker)"
                    disabled="false"
                    panelClass="month-picker-only"
                    startView="year">
    </mat-datepicker>
  </mat-form-field>
</div>
