<div class="m-3">
  <mat-form-field appearance="fill">
    <mat-label>Month and Year</mat-label>
    <input [disabled]='true' [formControl]="date" [matDatepicker]="dp" [max]="maxDate" [min]="minDate" class="text-dark"
           matInput>
    <mat-datepicker-toggle [for]="dp" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #dp
                    (monthSelected)="chosenMonthHandler($event, dp)"
                    (opened)="streamOpened()"
                    disabled="false"
                    panelClass="example-month-picker"
                    startView="year">
    </mat-datepicker>
  </mat-form-field>
</div>
