<div class="mat-elevation-z8" *ngIf="!!dataSource">
  <div class="table-responsive">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>

    <table mat-table [dataSource]="dataSource" class=""
           matSort matSortDirection="asc" matSortDisableClear>

      <ng-container matColumnDef="{{col.name}}" *ngFor="let col of columnInfoList; let i=index">
        <!--      mat-sort-header -->
        <th mat-header-cell mat-sort-header *matHeaderCellDef [resizeColumn]="i">{{col.displayText}}</th>
        <td mat-cell *matCellDef="let element"> {{element[col.name]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="propertyNames; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: propertyNames;" (click)="rowClicked(row)"></tr>
    </table>
  </div>
  <mat-paginator [length]="50" [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
