<div class="row">
  <div class="col-11">
    <div class="" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div *ngIf="!!columnInfoList" cdkDropList cdkDropListOrientation="horizontal"
           class="d-flex flex-wrap" (cdkDropListDropped)="drop($event)">
        <div class="shadow p-2 pb-1 ms-1 me-1 mb-3 bg-body rounded"
             *ngFor="let col of columnInfoList; let i=index" cdkDrag>
          <div class="form-check">
            <input class="form-check-input" type="checkbox"
                   [value]="col"
                   [checked]=col.selected
                   (click)="onClick($event, i, col)">
            <label class="form-check-label grab">{{col.displayText}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1 align-top">
    <button class="btn btn-link float-end" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample">
      <fa-icon [icon]="['fas', !isCollapsed ? 'caret-down' : 'cog']"></fa-icon>
    </button>
  </div>
</div>


