<ng-template #content let-modal>
  <div class="modal-header" ngbAutofocus>
    <h5 class="modal-title" id="modal-basic-title">Columns settings</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()">
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div *ngIf="!!columnInfoList">
        <div cdkDropList (cdkDropListDropped)="drop($event)">
          <ng-container *ngFor="let col of columnInfoList; let i=index">
            <div class="row">
              <div class="col-auto align-self-center pb-2">{{i+1}}</div>
              <div class="col-10 shadow item-card bg-body rounded" cdkDrag>
                <div class="form-check-inline">
                  <input class="form-check-input ms-1 me-2 mb-1 align-top" type="checkbox"
                         [value]="col"
                         [checked]=col.selected
                         (click)="onClick($event, i, col)">
                  <label class="form-check-label grab">{{col.displayText}}</label>
                </div>
                <i class="bi bi-grip-vertical grab"></i>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div class="row">
  <div class="align-top d-flex justify-content-end">
    <button class="btn btn-link btn-lg" (click)="open(content)" aria-controls="collapseExample">
      <i class="bi bi-gear-fill"></i>
<!--      <i class="bi bi-sliders"></i>-->
    </button>
  </div>
</div>


