.bd-highlight {
  background-color: rgba(86,61,124,0.15);
  border: 1px solid rgba(86,61,124,0.15);
}

.bd-card {
  width: 12rem;
}

.grab {
  &:hover {
    cursor: grab !important;
  }

  &:active {
    cursor: grabbing !important;
  }
}