<div class="container mt-3">
  <ul #nav="ngbNav" class="nav-pills mb-5" ngbNav [activeId]="7">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Table 1</a>
      <ng-template ngbNavContent>
        <app-samples></app-samples>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Table 2</a>
      <ng-template ngbNavContent>
        <app-employees></app-employees>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Table 2</a>
      <ng-template ngbNavContent>
        <app-cars></app-cars>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink>Month Year picker</a>
      <ng-template ngbNavContent>
        <app-date-selector></app-date-selector>
      </ng-template>
    </li>
    <li [ngbNavItem]="5">
      <a ngbNavLink>Chart</a>
      <ng-template ngbNavContent>
        <app-small-large-chart></app-small-large-chart>
      </ng-template>
    </li>
    <li [ngbNavItem]="6">
      <a ngbNavLink>Drag & Drop</a>
      <ng-template ngbNavContent>
        <app-drag-and-drop></app-drag-and-drop>
      </ng-template>
    </li>
    <li [ngbNavItem]="7">
      <a ngbNavLink>Drag & Drop - Fixed</a>
      <ng-template ngbNavContent>
        <app-drag-and-drop-fixed></app-drag-and-drop-fixed>
      </ng-template>
    </li>
<!--    <li [ngbNavItem]="7">-->
<!--      <a ngbNavLink>Week Selector</a>-->
<!--      <ng-template ngbNavContent>-->
<!--        <app-week-selector></app-week-selector>-->
<!--      </ng-template>-->
<!--    </li>-->
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
