<div class="container mt-3">
  <ul #nav="ngbNav" class="nav-pills mb-5" ngbNav>
    <li ngbNavItem>
      <a ngbNavLink>Table 1</a>
      <ng-template ngbNavContent>
<!--        <app-group-by-mat-table></app-group-by-mat-table>-->
        <app-samples></app-samples>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Table 2</a>
      <ng-template ngbNavContent>
        <app-employees></app-employees>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Table 2</a>
      <ng-template ngbNavContent>
        <app-cars></app-cars>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Month Year picker</a>
      <ng-template ngbNavContent>
        <app-date-selector></app-date-selector>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Chart</a>
      <ng-template ngbNavContent>
        <app-small-large-chart></app-small-large-chart>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
