<ng-template #content let-modal>
  <div class="modal-header" ngbAutofocus>
    <h5 class="modal-title" id="modal-basic-title">Columns settings</h5>
    <button (click)="modal.dismiss()" class="btn-close"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div *ngIf="!!columnInfoList">
        <div (cdkDropListDropped)="drop($event)" cdkDropList>
          <ng-container *ngFor="let col of columnInfoList; let i=index">
            <div class="row">
              <div class="col-1 align-self-center text-end pb-1">{{i + 1}}.</div>
              <div cdkDrag class="col-10 shadow item-card rounded">
                <div class="form-check-inline">
                  <input #cb (click)="onClick($event, i, col, cb)" [checked]=col.selected
                         [value]="col"
                         class="form-check-input ms-1 me-2 mb-1 align-top"
                         type="checkbox">
                  <label class="form-check-label grab">{{col.displayText}}</label>
                </div>
                <i class="bi bi-grip-vertical grab"></i>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<button (click)="open(content)" class="btn btn-link btn-lg">
  <i class="bi bi-gear-fill"></i>
</button>
