<table cdk-table [dataSource]="dataSource" class="table">

  <ng-container *ngFor="let col of displayedColumns" [cdkColumnDef]="col">
    <th cdk-header-cell *cdkHeaderCellDef>{{ col }}</th>
    <td cdk-cell *cdkCellDef="let row;">{{ row[col] }}</td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns; when: isVisible"></tr>

  <ng-container cdkColumnDef="groupName">
    <td colspan="999" cdk-cell *cdkCellDef="let group">
      <div>
        <button class="btn btn-link p-0 pe-3 text-secondary">
          <i class="bi" [ngClass]="group['reduced'] ? 'bi-plus-square' : 'bi-dash-square'"></i>
        </button>
        <strong>{{group['groupName']}}</strong>
      </div>
    </td>
  </ng-container>

  <tr cdk-row class="clickable" *cdkRowDef="let row; columns: ['groupName']; when: isGroup"
      (click)="reduceGroup(row)"></tr>

</table>
