<ngb-accordion #acc="ngbAccordion">
  <ngb-panel id="columns-setting">
    <ng-template ngbPanelHeader></ng-template>
    <ng-template ngbPanelContent>
      <app-samples-column-selector [samplesTableDatasource]="dataSource"></app-samples-column-selector>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<div class="row justify-content-end align-items-center mb-2">
  <div class="col-auto pb-1">
    <div class="input-group search">
      <span class="input-group-text bg-white"><i class="bi bi-search"></i></span>
      <input type="text" class="form-control ps-0" placeholder="Search" #search>
    </div>
  </div>
  <div class="col-auto p-0 pe-1">
    <button (click)="acc.toggle('columns-setting')" class="btn btn-link btn-lg">
      <i class="bi bi-gear-fill"></i>
    </button>
  </div>
</div>
<div *ngIf="!!dataSource" class="samples-table">
  <div class="table-responsive">
    <div class="d-flex">
      <div class="spinner-container justify-content-center">
        <mat-spinner></mat-spinner>
      </div>
    </div>
    <table cdk-table matSort matSortActive="id" matSortDirection="asc" matSortDisableClear
           [dataSource]="dataSource" class="table table-hover scroll-fix mb-0">

      <ng-container *ngFor="let col of columnInfoList; let i=index" [cdkColumnDef]="col.name">
        <th cdk-header-cell *cdkHeaderCellDef [resizeColumn]="i" class="pt-3 pb-3 data">
          <div mat-sort-header>{{col.displayText}}</div>
        </th>
        <td cdk-cell *cdkCellDef="let row" class="data pt-1 pb-1">{{ row[col.name] | samplesTable:col.name }}</td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="propertyNames; sticky: true"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: propertyNames;"></tr>

      <ng-container cdkColumnDef="groupHeader">
        <td colspan="999" class="group-header pt-2 pb-2" cdk-cell *cdkCellDef="let group">
          <button class="btn btn-link p-0 pe-3 text-secondary">
            <i class="bi" [ngClass]="group['reduced'] ? 'bi-plus-square' : 'bi-dash-square'"></i>
          </button>
          {{group['groupName']}}
        </td>
      </ng-container>

      <tr cdk-row *cdkRowDef="let row; columns: ['groupHeader']; when: dataSource.isGroup"
          (click)="dataSource.toggle(row)"></tr>

    </table>
  </div>
  <mat-paginator showFirstLastButtons [length]="dataSource.totalElements"
                 [pageSizeOptions]="[10, 20, 50, 100, 200, 500, 1000]" [pageSize]="50"></mat-paginator>
</div>
