.table-responsive {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  overflow: auto;
  padding-right: 1px;

  &::-webkit-scrollbar {
    width: 2em;
    height: 1.5em
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(148, 147, 147);
  }

  &::-webkit-scrollbar-thumb {
    background: #00598E;
    border-radius: 5px;
  }
}

.samples-table {
  width: 100%;

  &.resizing {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: col-resize;
  }

  .cdk-header-cell {
    &:not(:last-child) {
      .resize-holder {
        cursor: col-resize;
        width: 20px;
        height: 100%;
        position: absolute;
        right: -10px;
        top: 0;
        z-index: 999 !important;
      }
    }
  }

  .mat-sort-header {
    display: inline-flex !important;
  }

  .data {
    white-space: nowrap;

    &:first-child {
      padding-left: 2.75rem;
    }
  }

  th, td {
    color: #4F4F4F;
  }

  td.group-header {
    font-weight: 500;
    font-size: 18px;
    color: #007DC6;
    border-top-width: 3px;
    border-top-color: #B6C3CA;
    cursor: pointer;

    .bi {
      font-weight: 500;
      font-size: 22px;
      color: #007DC6;
    }
  }

  .table > :not(:last-child) > :last-child > * {
    border-bottom-color: #B6C3CA;
    border-bottom-width: 3px;
  }

  .spinner-container {
    height: 360px;
    width: 390px;
    position: fixed;
  }

  .spinner-container mat-spinner {
    margin: 130px auto 0 auto;
  }
}

.search {

  .input-group-text, input, input:focus {
    box-shadow: none;
    border-color: #77899A;
    border-bottom-width: 2px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
  }

}
